p{
    color: darkblue;
    line-height: 50px;
    width: 400px;
    border: 5px solid purple;
    padding: 10px;
    margin-top: 50px;
    margin-left: calc(50% - 215px);
}

body{
    text-align: center;
}

img{
    height: 200px;
    width: 350px;
}